---
layout: default
title: Audiobooks
permalink: /audiobooks/index.html
description: "List of audiobooks that i've listened to"
---

I'm a big fan of audiobooks (Especially narrated by `R. C. Bray` or by `Dick Hill`). 

Here are some of my thoughts on the one that I've listened to and some quotes or some interesting facts that I didn't want to miss.

{% assign series = site.audio_books | group_by: 'series' %}

<div id="audiobook_series"> 
{% for serie in series  %}  
	{% if serie.name != empty  %}

	<h3> {{ serie.name |  append: ' (' | append: serie.items.size | append: ')' }} </h3>
	
		{% for book in serie.items  %}
			<a href="{{ site.baseurl }} {{ book.url }}"> <img src="{{ book.image }}" alt="{{ book.book }}" width="100" height="100"/></a>
		{% endfor %}

	<br>		
	{% endif %}	
	
	
{% endfor %}
</div>

<br>

<div id="audiobook_standalone">
<h2> Books without series </h2>
{% for serie in series  %}  
	{% if serie.name == empty  %}
		{% for book in serie.items  %}
			<a href="{{ site.baseurl }} {{ book.url }}"> <img src="{{ book.image }}" alt="{{ book.book }}" width="100" height="100"/></a>
		{% endfor %}
	
	{% endif %}	
{% endfor %}
</div>