/* Style for quote section headers */
h2 {
    clear: both;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid rgba(0,0,0,.25);
    font-family: 'Courier';
}

/* Container for quote groups */
.quote-group {
    clear: both;
    margin-bottom: 40px;
    overflow: auto;
}

blockquote {
    /* border: 2px solid rgb(16, 196, 202); */
    /* background-color: rgb(255, 255, 0); */
    /* color: #63c0f5; */
    font-family: 'Courier';

    width: 45%;
    height: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    float: left;
    margin: 8px;
    border: 1px solid rgba(0,0,0,.25);
}

blockquote p {
    padding: 15px;
    border-radius: 5px;
}

blockquote p:first-of-type::first-letter {
    font-weight: bold;
    font-size: 150%;
}