---
layout: default
comments: true
---

{% assign ratingEmojis = "🌑🌑🌑🌑🌑" %}
{% case page.rating %}
{% when 1 %}
{% assign ratingEmojis = "⭐🌑🌑🌑🌑" %}
{% when 2 %}
{% assign ratingEmojis = "⭐⭐🌑🌑🌑" %}
{% when 3 %}
{% assign ratingEmojis = "⭐⭐⭐🌑🌑" %}
{% when 4 %}
{% assign ratingEmojis = "⭐⭐⭐⭐🌑" %}
{% when 5 %}
{% assign ratingEmojis = "⭐⭐⭐⭐⭐" %}
{% else %}
{% assign ratingEmojis = "🌑🌑🌑🌑🌑" %}
{% endcase %}

<div class="d-flex flex-row flex-nowrap">
  <div class="d-flex flex-column">
    <a href="{{ page.details_url }}"><img src="{{ page.image }}" width="250" height="250" /></a>
  </div>

  <div class="d-flex flex-column align-self-center ms-4">
    <h2>{{ page.title }}</h2>

    <small><b>Authors:</b> <em>{{ page.authors | join: "</em>, <em>" }}</em></small><br>
    <small><b>Narrator:</b> {{ page.narrator }}</small><br>
    <small><b>Duration:</b> {{ page.length }}</small><br>
    <small><b>My Rating:</b> {{ ratingEmojis }}</small><br>
    {% if page.tags %}
    <small><b>Tags:</b> <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
    {% endif %}
  </div>
</div>

<hr class="dashed">

<br>

{{content}}

{% include comments.html %}