---
layout: default
comments: true
---

<div class="imageThumbnail">
  <a href="{{ page.details_url }}"><img src="{{ page.image }}" width="250" height="250" /></a>
</div>

{% assign ratingEmojis = "🌑🌑🌑🌑🌑" %}
{% case page.rating %}
{% when 1 %}
{% assign ratingEmojis = "⭐🌑🌑🌑🌑" %}
{% when 2 %}
{% assign ratingEmojis = "⭐⭐🌑🌑🌑" %}
{% when 3 %}
{% assign ratingEmojis = "⭐⭐⭐🌑🌑" %}
{% when 4 %}
{% assign ratingEmojis = "⭐⭐⭐⭐🌑" %}
{% when 5 %}
{% assign ratingEmojis = "⭐⭐⭐⭐⭐" %}
{% else %}
{% assign ratingEmojis = "🌑🌑🌑🌑🌑" %}
{% endcase %}

<div class="ratingEmojis"> {{ ratingEmojis }} </div>

<small><b>Authors:</b> <em>{{ page.authors | join: "</em>, <em>" }}</em></small><br>
<small><b>Narrator:</b> {{ page.narrator }}</small><br>
<small><b>Duration:</b> {{ page.length }}</small><br>

<h1>{{ page.title }}</h1>

{{content}}

{% include comments.html %}

{% if page.tags %}
<small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}