---
layout: default
comments: true
---

<small><b>Authors:</b> <em>{{ page.authors | join: "</em>, <em>" }}</em></small><br>
<small><b>Narrator:</b> {{ page.narrator }}</small><br>
<small><b>Duration:</b> {{ page.length }}</small><br>

<a href="{{ page.details_url }}"><img src="{{ page.image }}" width="250" height="250"/></a>

<h1>{{ page.title }}</h1>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

{% if site.disqus.shortname %}
  {% include disqus_comments.html %}
{% endif %}