<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

{% include head.html %}

<body>
    <header>
        <div class="container">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </div>
    </header>

    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>

    {% include ganalytics.html %}
    {% include footer.html %}

</body>
</html>